# Configurações do Servidor
PORT=3001
NODE_ENV=production
JWT_SECRET=petshop_pro_super_secret_jwt_key_2026
LICENSE_SECRET=PETSHOP_PRO_SECURE_ENTERPRISE_KEY_2026

# Banco de Dados Padrão (100% Local SQLite sem necessidade de instalar banco externo)
DB_DIALECT=sqlite

# Para usar PostgreSQL Local, descomente abaixo:
# DB_DIALECT=postgres
# DB_HOST=localhost
# DB_PORT=5432
# DB_USER=postgres
# DB_PASS=postgrespassword
# DB_NAME=petshop_pro
